.form1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* max-width: 350px; */
    background-color: #fff;
    /* padding: 20px; */
    padding-inline: 20vw;
    /* padding-top: 100px; */ 
    border-radius: 20px;
    position: relative;
  }
  
  .create {
    font-size: 28px;
    color: rgb(22, 6, 245);
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
  }
  
  .create::before,.create::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: rgb(22, 6, 245);
  }
  
  .create::before {
    width: 18px;
    height: 18px;
    background-color: rgb(22, 6, 245);
  }
  
  .create::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
  
  .message, .signin {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
  }
  
  .signin {
    text-align: center;
  }
  
  .signin a {
    color: royalblue;
  }
  
  .signin a:hover {
    text-decoration: underline royalblue;
  }
  
  .flex {
    display: flex;
    width: 100%;
    gap: 6px;
  }
  
  .form1 label {
    position: relative;
  }

  .form1 label .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }
  
  .form1 label .input1 {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }

  .form1 label .input2 {
    width: 90%;
    
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }
  
  .form1 label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }

  .form1 label .input2 + span {
    position: absolute;
    left: 20px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .form1 label .input1 + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }

  .form1 label .input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
  }
  
  .form1 label .input:focus + span,.form1 label .input:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .form1 label .input1:focus + span,.form1 label .input1:valid + span {
    top: 60px;
    font-size: 0.7em;
    font-weight: 600;
  }

  .form1 label .input2:focus + span,.form1 label .input1:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
  }

  .form1 label .input:valid + span {
    color: rgb(22, 6, 245);
  }
  
  .submit {
    border: none;
    outline: none;
    background-color: rgb(22, 6, 245);
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
  }
  
  .submit:hover {
    background-color: rgb(22, 6, 245);
  }
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }
  